.glow {
  font-size: 6rem;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 50s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #ff1a1a, 0 0 40px #ff1a1a, 0 0 20px #ff1a1a, 0 0 60px #ff1a1a, 0 0 100px #ff1a1a;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff1a1a, 0 0 20px #ff1a1a, 0 0 50px #ff1a1a, 0 0 60px #ff1a1a, 0 0 70px #ff1a1a, 0 0 100px #ff1a1a;
  }
}

body {
  text-align: center;
  background-image: url("./images/fons-llum.jpg");
  background-size: cover;
}

.any{
  font-size: 9rem;
  margin: 0px 50px 0px 50px;
  text-shadow: 2px 2px 12px rgb(233, 35, 35), -6px -6px 12px blue;
  font-family: 'Playfair Display SC', serif;
  color: #3ae45c;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  color: #ffffff;
  font-family: 'Playfair Display SC', serif;
}

h3 {
  font-size: 2rem;
  margin: 30px 50px 0px 50px;
  color: #DBEDF3;
  font-family: 'Afacad', sans-serif;

}

footer {
  color: #DBEDF3;
  font-size: 1.4rem;
  font-family: 'Afacad', sans-serif;
}

.f {
  background-image: url("./images/f.gif")
}

.i {
  background-image: url("./images/i.gif")
}

.r {
  background-image: url("./images/r.gif")
}

.e {
  background-image: url("./images/e.gif")
}

.w {
  background-image: url("./images/w.gif")
}

.o {
  background-image: url("./images/o.gif")
}

.k {
  background-image: url("./images/k.gif")
}

.s {
  background-image: url("./images/s.gif")
}

.show-s-background .f {
  display: block;
}

.show-s-background .i {
  display: block;
}

.show-s-background .r {
  display: block;
}

.show-s-background .e {
  display: block;
}

.show-s-background .w {
  display: block;
}

.show-s-background .o {
  display: block;
}

.show-s-background .k {
  display: block;
}

.show-s-background .s {
  display: block;
}

.set {
  margin: 5% auto;
}

.pressed {
  opacity: 0.5;
}

.drum {
  border: 2px dashed #ff1a1a;
  display: grid;
  place-items: center;
  font-size: 3.5rem;
  font-family: 'Playfair Display SC', serif;
  line-height: 8;
  color: #ff1a1a;
  text-shadow: rgb(0, 0, 0) 5px 5px 10px;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}